@page
@model PlantBuddy.Pages.Plants.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Plant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Plant.PlantId" />
            <div class="form-group">
                <label asp-for="Plant.PlantName" class="control-label"></label>
                <input asp-for="Plant.PlantName" class="form-control" />
                <span asp-validation-for="Plant.PlantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plant.LightPreference" class="control-label"></label>
                <input asp-for="Plant.LightPreference" class="form-control" />
                <span asp-validation-for="Plant.LightPreference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plant.ResourceLink" class="control-label"></label>
                <input type="url" asp-for="Plant.ResourceLink" class="form-control" />
                <span asp-validation-for="Plant.ResourceLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plant.CreatedDate" class="control-label"></label>
                <input asp-for="Plant.CreatedDate" class="form-control" />
                <span asp-validation-for="Plant.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plant.LastModifiedDate" class="control-label"></label>
                <input asp-for="Plant.LastModifiedDate" class="form-control" />
                <span asp-validation-for="Plant.LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col">
        @foreach (var picture in Model.PlantImages)
        {
            <img height="200" src="@picture" />
        }
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
